* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main App */
.main-app {
    padding: 0.5rem 1rem;
}
/* End Main App */

/* Navigation */
.nav-wrapper {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: rgb(183, 60, 60);
}

.nav-link {
    color: rgb(235, 234, 234);
    font-size: large;
    margin: 0.5rem;
}

.nav-link:hover {
    color: rgb(157, 156, 156);

}
/* End Navigation */

/* Book  */
.list-chapter {
    display: flex;
    overflow: auto;
    padding: 10px;
    overflow-x: visible;
}

.list-chapter::-webkit-scrollbar {
    height: 10px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #aaa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(183, 60, 60);
    border-radius: 10px;
  }

.p-chapter {
text-align: center;
cursor: pointer;
border: 1px solid #000;
border-radius: 60px;
margin: 5px;
width: 40px;
padding: 5px;
}

.content-chapter {
 padding-top: 15px;
 margin-left: -2.5rem;
}

.content-chapter ul{
    margin-top: 1rem;
}

.content-chapter li{
    list-style: none;
}

.content-chapter  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

.ayat {
    color: #813535;
}

.verse{
    font-weight: bold;
    color: rgb(183, 60, 60)
}

.ayat:hover {
    background-color: rgba(243, 197, 212, 0.308);
}

.skeleton-ayat {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.back-top {
    right: 1rem;
    bottom: 1rem;
    position: fixed;
    z-index: 999;
}
/* End Book */

/* Home */
.tab-pane {
    padding: 1rem 25rem;
}

.tab-pane p {
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: #000;
}

.tab-pane p:hover {
    background-color: rgb(183, 60, 60);
    color: #fff;
}

.tab-pane-link {
    color: #000;
    text-align: center;
}
/* End Home */

/* About */
.contact-us a {
    margin-left: 0.5rem;
    color: #000;
    font-weight: 900;
}

.faq-about h3 {
    font-weight: bold;
    font-style: italic;
    color:  rgb(183, 60, 60)
}

.faq-about ul {
    list-style: none;
    padding: 0;
}

.faq-about li {
    margin-bottom: 10px;
}
/* End About */


@media screen and (max-width: 1150px) {
    .tab-pane {
        padding: 1rem 1rem;
    }
}





